In [1]:
import pandas as pd

In [2]:
s = pd.Series([2, 4, 6, 8, 10])
print(s)

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [3]:
altura = {"Santiago": 187, "Pedro": 178, "Julia": 170, "Ana": 165}
#          CLAVE,    VALOR
s = pd.Series(altura)
print(s)

Santiago    187
Pedro       178
Julia       170
Ana         165
dtype: int64

In [6]:
altura = {"Santiago": 187, "Pedro": 178, "Julia": 170, "Ana": 165}
#          CLAVE,    VALOR
s = pd.Series(altura, index = ["Pedro","Julia"])

In [7]:
print(s)

Pedro    178
Julia    170
dtype: int64

In [8]:
s = pd.Series([2, 4, 6, 8], index=["num1","num2","num3","num4",])
print(s)

num1    2
num2    4
num3    6
num4    8
dtype: int64

In [9]:
s["num3"]

6

In [10]:
s[2]

6

In [11]:
s.loc["num3"]#ubicar en base de la clave y sacar un valor, trata mayormente de las columnas
             #sacaria todos los valores en la columna num3

6

In [12]:
s.iloc[2]

6

In [15]:
s.iloc[1:3]

num2    4
num3    6
dtype: int64

In [17]:
# Creacion de un Dataframe inicializando con un diccionario de objetos Series
personas = {
    "peso":pd.Series([84, 90, 56, 64], ["Santiago","Pedro","Ana","Julia"]),
    "altura": pd.Series({"Santiago": 187,"Pedro": 178,"Julia": 170, "Ana":165}),
    "hijos": pd.Series([2, 3], ["Pedro","Julia"])
}
df = pd.DataFrame(personas)
df

          peso  altura  hijos
Ana         56     165    NaN
Julia       64     170    3.0
Pedro       90     178    2.0
Santiago    84     187    NaN

In [18]:
personas = {
    "peso":pd.Series([84, 90, 56, 64], ["Santiago","Pedro","Ana","Julia"]),
    "altura": pd.Series({"Santiago": 187,"Pedro": 178,"Julia": 170, "Ana":165}),
    "hijos": pd.Series([2, 3], ["Pedro","Julia"])
}
df = pd.DataFrame(
    personas,
    columns = ["altura","peso"],
    index = ["Ana","Julia","Santiago"]
)
df

          altura  peso
Ana          165    56
Julia        170    64
Santiago     187    84